In [1]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:97% !important; }</style>"))

In [2]:
import matplotlib
font = {'size'   : 14}
matplotlib.rc('font', **font)

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

from numpy import dot, array, zeros, linspace, mod, sqrt, mean, std, exp, sin, cos, pi, imag, real, angle, mod
from numpy.linalg import norm

In [3]:
from navec import Navec
path = 'navec_hudlit_v1_12B_500K_300d_100q.tar'
#path = '/home/surov/Library/navec_news_v1_1B_250K_300d_100q.tar'
model = Navec.load(path)

In [8]:
model['карта'].shape

(300,)

In [9]:
from sqlite3 import connect
conn = connect('words-russian-nouns-morf')

In [14]:
pd.read_sql('SELECT * nouns_morf', conn)

DatabaseError: Execution failed on sql 'SELECT * nouns_morf': near "nouns_morf": syntax error