In [1]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:85% !important; }</style>"))

In [ ]:
#import sklearn
#sklearn.__version__

In [3]:
#!pip install scikit-learn --upgrade

In [4]:
import numpy as np
import pandas as pd

from numpy import dot, array, zeros, linspace, mod, sqrt, mean, std, exp, sin, cos, pi, imag, real, angle, mod
from numpy.linalg import norm

from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix

In [5]:
import matplotlib.pyplot as plt
import matplotlib as mpl
font = {'size'   : 14}
mpl.rc('font', **font)

In [6]:
from navec import Navec
path = 'navec_hudlit_v1_12B_500K_300d_100q.tar'
#path = '/home/surov/Library/navec_news_v1_1B_250K_300d_100q.tar'
model = Navec.load(path)

In [ ]:
'''# Формат данных для функций sklearn
# One Hot Encoder вручную

classcode = [0,0,0,0,0,0] 
classcode[2] = 1
classcode

x,y = [],[]
for n in range(len(dt)):
    for k in range(6):
        classcode = [0,0,0,0,0,0] 
        classcode[k] = 1
        y.append(classcode)
        x.append(model[dt.iloc[n][k]])

x = np.array(x)
y = np.array(y)

x.shape, y.shape''';

In [19]:
dt = pd.read_csv('data_1x17346.csv', index_col=0)
dt

         word pad
0      абзаца   R
1      абзаце   P
2       абзац   V
3       абзац   I
4      абзацу   D
...       ...  ..
17341   ящике   P
17342    ящик   V
17343    ящик   I
17344   ящику   D
17345  ящиком   T

[17346 rows x 2 columns]

In [20]:
from sklearn.preprocessing import OneHotEncoder

In [21]:
ohe = OneHotEncoder()
res = ohe.fit_transform(dt['pad'].to_numpy().reshape(-1, 1))

ohe_df = pd.DataFrame(res.toarray(), columns=ohe.get_feature_names_out())
ohe_df

       x0_D  x0_I  x0_P  x0_R  x0_T  x0_V
0       0.0   0.0   0.0   1.0   0.0   0.0
1       0.0   0.0   1.0   0.0   0.0   0.0
2       0.0   0.0   0.0   0.0   0.0   1.0
3       0.0   1.0   0.0   0.0   0.0   0.0
4       1.0   0.0   0.0   0.0   0.0   0.0
...     ...   ...   ...   ...   ...   ...
17341   0.0   0.0   1.0   0.0   0.0   0.0
17342   0.0   0.0   0.0   0.0   0.0   1.0
17343   0.0   1.0   0.0   0.0   0.0   0.0
17344   1.0   0.0   0.0   0.0   0.0   0.0
17345   0.0   0.0   0.0   0.0   1.0   0.0

[17346 rows x 6 columns]

In [23]:
Y = pd.get_dummies(dt['pad'], prefix='pad')
Y

       pad_D  pad_I  pad_P  pad_R  pad_T  pad_V
0          0      0      0      1      0      0
1          0      0      1      0      0      0
2          0      0      0      0      0      1
3          0      1      0      0      0      0
4          1      0      0      0      0      0
...      ...    ...    ...    ...    ...    ...
17341      0      0      1      0      0      0
17342      0      0      0      0      0      1
17343      0      1      0      0      0      0
17344      1      0      0      0      0      0
17345      0      0      0      0      1      0

[17346 rows x 6 columns]

In [26]:
X = array([model[w] for w in dt['word']])
X.shape

(17346, 300)

In [28]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, random_state=2024, test_size=0.25)

In [46]:
x_train.shape, y_train.shape, x_test.shape, y_test.shape

((13009, 300), (13009, 6), (4337, 300), (4337, 6))

# К ближайших соседей

In [49]:

knn = KNeighborsClassifier(n_neighbors=3, weights='distance')
knn.fit(x_train, y_train)

y_preds_knn = knn.predict(x_test)

In [51]:
np.sum(y_preds_knn), y_preds_knn

(2865,
 array([[0, 0, 1, 0, 0, 0],
        [0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0, 1],
        ...,
        [0, 0, 0, 0, 0, 0],
        [0, 1, 0, 0, 0, 0],
        [1, 0, 0, 0, 0, 0]], dtype=uint8))

In [52]:
ohe.inverse_transform(y_preds_knn)

ValueError: Samples [   1    3    5 ... 4329 4331 4334] can not be inverted when drop=None and handle_unknown='error' because they contain all zeros

In [35]:
print(classification_report(y_test, y_preds_knn))

              precision    recall  f1-score   support

           0       0.98      0.77      0.86       732
           1       0.91      0.13      0.23       740
           2       0.99      0.66      0.79       725
           3       0.90      0.21      0.34       705
           4       1.00      0.83      0.90       699
           5       0.69      0.01      0.02       736

   micro avg       0.98      0.43      0.60      4337
   macro avg       0.91      0.43      0.52      4337
weighted avg       0.91      0.43      0.52      4337
 samples avg       0.43      0.43      0.43      4337

/home/surov/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in samples with no predicted labels. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))